{{ "<!-- Hero -->" | safeHTML }}
<header>
  <div class="container">
    <div class="intro-text">
      <div class="title1">
        <img src="img/logotipo-2024.png" />
      </div>
      <div class="meta text-left">
        <div>
          <ul class="navigation navbar-nav ml-auto text-center">
            
            <li>
              <a href="https://docs.google.com/forms/d/e/1FAIpQLSc8lydxOD1BnVu33xsVROCdA_khZy9yKxVn5J7Fg7h8P4Zh4g/viewform" class="btn btn-primary text-white"
                >¡INSCRÍBETE!</a
              >
            </li>
          </ul>
          <BR>
        </div>
        <div class="description">
        El Datatón Anticorrupción 2024 es una iniciativa donde construiremos
            herramientas que analicen datos abiertos con el fin de contribuir
            al combate a la corrupción en México.
        </div>
        <ul>
          <li class="fecha">Fechas: 5,6,7 y 8 de diciembre de 2024</li>
          <li class="sede">Formato: Virtual</li>
        </ul>
      </div>
    </div>
  </div>
</header>
