{{ "<!-- Hero -->" | safeHTML }}
<header>
  <div class="container">
    <div class="intro-text">
      <div class="title1">
        <!--  --><img src="img/logo-dataton.svg" />

      </div>
      <div class="meta text-left">
        <div>
          <ul class="navigation navbar-nav ml-auto text-center">
            
            <li>
              <a 
              href="https://docs.google.com/forms/d/e/1FAIpQLScGESOGYWhi7V_Hkl2yPPA0wR_CApFRavEM4sKO3YkRzHcdmQ/viewform" 
              class="btn btn-primary text-white"
                >¡INSCRÍBETE!</a
              >
            </li>
          </ul>
          <BR>
        </div>
        <div id="intro">
          <div class="description">
          El Datatón Anticorrupción 2025 es una iniciativa donde construiremos
              herramientas que analicen datos abiertos con el fin de contribuir
              al combate a la corrupción en México.
          </div>
          <ul>
            <li class="fecha">Fechas: 17 al 30 de noviembre de 2025</li>
            <li class="sede">Formato: Virtual</li>
          </ul>
        </div> 
      </div>
    </div>
  </div>
</header>
