<section id="jueces" class="bg-light-gray">
  <div class="container">
    <h2 class="section-heading">Jurado</h2>
    <div class="d-flex flex-wrap justify-content-around">
      <div class="row">
        {{range where (where .Site.RegularPages "Section" "jueces") ".Params.tier" 1 }}
        <div class="col-sm-12">
          {{ .Render "post" }}
        </div>
        {{ end }}
      </div>
      <div class="row">
        {{range where (where .Site.RegularPages "Section" "jueces") ".Params.tier" 2 }}
        <div class="col-sm-3">
          {{ .Render "post" }}
        </div>
        {{ end }}
      </div>

    </div>
  </div>
</section>